.parent {
  transition: 1s;
  //background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
  background: radial-gradient(circle, rgba(255,255,255,0) 0%, #f5e8d0 0%, #DDBA8A 100%);
}

.btn_header{
  //transform-origin: top;
  position: absolute;
  //transform: scale(1);
  transition: 0.5s;
  border-radius: 3vw;
  height: 50px;
  width: 100%;
  background: #994703;
  font-size: 1.75vw !important;
  text-transform: none;
  line-height: 40px;
  &:hover {
    transform-origin:  top;
    position: absolute;
    transition: 0.5s;
    // transform: scale(1.25);
    height: 80px;
    width: 100%;
    border-radius: 4.5vw;
    // font-size: 50px;
    background: #994703;
    font-size: 2.5vw !important;
  }
}

.btn_header_hover{
    transform-origin:  top;
    position: absolute;
    transition: 0.5s;
    // transform: scale(1.25);
    height: 80px;
    width: 100%;
    border-radius: 4.5vw;
    // font-size: 50px;
    background: #994703;
    font-size: 2.5vw !important;
}

.btn_header_language{
  position: absolute;
  transition: 0.5s;
  border-radius: 4.5vw;
  height: 80px;
  width: 100%;
  background: #1e4235;
  font-size: 1.75vw !important;
  color: #fcd574 !important;
  line-height: 40px;
  &:hover {
    transition: 0.5s;
    font-size: 2vw !important;
    background: #1e4235;
  }
}

.logo_header{
  height: 132px;
  transition: 1s;
  
}

.parent:has(.logo_header:nth-of-type(2):hover) {
    height: 120px;
    transition: 1s ;
    // background: rgb(240, 240, 240);
    background: #f5e8d0;
}