@import 'normalize.css';
@tailwind base; 
@tailwind components; 
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #e9dfd9;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  html *
  {
    font-size: 20px !important;
    font-family: "promptRegular" !important;
  }

  @font-face {
    font-family: "bebasRegular";
    src: url("/assets/fonts/Bebas-Regular.ttf") format("woff2"),
      url("/assets/fonts/Bebas-Regular.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "promptRegular";
    src: url("/assets/fonts/Prompt-Regular.ttf") format("woff2"),
      url("/assets/fonts/Prompt-Regular.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "promptMedium";
    src: url("/assets/fonts/Prompt-Medium.ttf") format("woff2"),
      url("/assets/fonts/Prompt-Medium.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "helRoundedBold";
    src: url("/assets/fonts/HelveticaRounded-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  img.hover-zoom{
    transform-origin:  top;
    position: fixed;
    transition: 1s;
    transform: scale(1);
  }

  img.hover-zoom:hover {
    transform-origin:  top;
    position: fixed;
    transition: 1s;
    transform: scale(1.25);
  }
  /* .slick-slider .slick-dots li button{
    display: block;

  }
  
  .slick-slider .slick-dots li button::before {
    content: '•';
    font-size: 20px;
    line-height: 0px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    color: black;
} */


.slick-slider .slick-dots {
  position: relative;
  bottom: 0px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.slick-slider .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  margin: 0 10px;
}
.slick-slider .slick-dots li button {
  background-color: #f1f4f4;
  width: 30px;
  height: 5px;
  text-indent: -9999px;
  padding: 0;
  border-radius: 2px;
}
.slick-slider .slick-dots li.slick-active button {
  background-color: #00303c;
  border-radius: 2px;
}